build.xml
manifest.mf


*.class


nbproject/private/  
nbproject/Makefile-*.mk  
nbproject/Package-*.bash  
nbproject/*.properties  
build/  
dist/ 


build/
dist/


*.log


*.bak
*.swp


*.o
*.so
*.exe
*.dll


.DS_Store
Thumbs.db
